.container {
    width: 100%;
    height: 50px;
    // margin: 100px auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
        margin-left: 20px;
    }
    .nav {
        margin-right: 10px;
        @media only screen and (max-width: 767px) {
            display: none;
        }

        .logo-navigation {
            margin-right: 10px;
            border: 1px solid blue;
        }
    }

    .nav-button {
        width: 50px;
        height: 50px;
        background-color: orange;
        border-radius: 10px;
        margin-right: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        @media only screen and (max-width: 767px) {
            display: flex;

        }

        .line {
            width: 30%;
            height: 2px;
            background-color: black;
            margin-bottom: 4px;
        }
    }
  
    .nav-button:hover {
        position: relative;

        .line:nth-child(2) {
            display: none;
        }
        .line:nth-child(1) {
            transform: translate(-50%,-50%)rotate(-45deg); 
            transform-origin: center center;
            position: absolute;
            top: 50%;
            left: 50%;
            transition-duration: 1s;

        }
        .line:nth-child(3) {
           
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            transform-origin: center center;
            transition-duration: 1s;
        }
        
        


    }




    #nav-mobile {
        display: none;
        position: absolute;
        bottom: 0;
        right: 20px;
        flex-direction: column;
        transform: translate(0, 110%);
        .logo-navigation {
            margin-bottom: 5px;
        }
    }
}

